@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.popup {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: absolute;
  left: 10px;
  background-color: #fff;
  border-radius: 8px;
  right: 10px;
  bottom: 10px;
  background-color: #e4e4e4
}
.popup_header {
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: space-between;
  padding: 0px 2%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px
}
.popup_header_close { 
  height: fit-content;
  width: fit-content;
  border: none;
  border-radius: 100%;
  align-self: center;
  padding: .5em .7em;
  background-color: #fff;
  cursor: pointer;
}
.popup_header_close:hover {
  box-shadow: 0 3px 6px #12677a, 0 3px 6px #12677a;
}
.popup_technologies {
  display: flex;
  padding: 10px;
  justify-content: center;
  background: #fff;
}
.popup_technologies_container {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.popup_technologies_image {
  height: 70px;
  width: auto;
}
.popup_grid {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
}
.popup_grid_explanation {
  background: #fff;
  padding: 10px;
}
.popup_grid_explanationTxt {
  font-family: 'Ubuntu', sans-serif;
}
.popup_grid_slideshow {
  background-color: #e4e4e4;
}