.slideshow-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.slideshow-container-button {
  align-self: center;
}
.slideshow-container-image {
  height: 400px;
  width: auto;
}